[submodule "include/qtr-sensors-arduino"]
	path = include/qtr-sensors-arduino
	url = https://github.com/pololu/qtr-sensors-arduino.git
[submodule "include/SparkFun_TB6612FNG_Arduino_Library"]
	path = include/SparkFun_TB6612FNG_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_TB6612FNG_Arduino_Library.git
