[submodule "lib/qtr-sensors-arduino"]
	path = lib/qtr-sensors-arduino
	url = https://github.com/pololu/qtr-sensors-arduino.git
[submodule "lib/SparkFun_TB6612FNG_Arduino_Library"]
	path = lib/SparkFun_TB6612FNG_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_TB6612FNG_Arduino_Library.git
